#container-page-points {
  padding: 0;
  background-color: white;
  height: 70%;
  position: absolute;
  width: 100%;
  top: 30%;
  z-index: -1;
}

#page-points {
  width: 100%;
  max-width: 1100px;

  margin: 0 auto; 
}

#page-points header {
  margin-top: 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-points header a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;
}

#page-points header a svg {
  margin-right: 16px;
  color: var(--primary-color);
}

#page-points main {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

#page-points main h1 {
  font-size: 54px;
  color: var(--title-color);
}

#page-points main p {
  font-size: 24px;
  margin-top: 24px;
  line-height: 38px;
}

#page-points main .points-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
}

#page-points main .without-information {
  margin-top: 30%;
  text-align: center;
  font-size: 40px;
}